@import "../../node_modules/bootstrap/scss/bootstrap";

$imageGridSize: 20px;
$countCells: 28;

body{
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: $imageGridSize * $countCells;
  margin: auto;
  max-width: $imageGridSize * $countCells;
  overflow: hidden;
  border-radius: 2rem;
  .image-grid {
    position: relative;
    width: $imageGridSize * $countCells;
    height: $imageGridSize * $countCells;
    .image-gird-cell {
      background: white;
      position: absolute;
      width: $imageGridSize;
      height: $imageGridSize;
    }
    .image-gird-cell:hover {
      background-color: black;
    }
  }
}

.image-grid-container:hover{
  cursor: pointer;
}
.controller-button{
  padding: 1rem;
  width: 150px;
  i{
    font-size: 2rem;
  }
  p{
    padding: 0;
    margin: 0;
  }
}

.server-status{
  position: absolute;
  transform: translateY(2px);
}
